defmodule Pillar.Migrations.<%= inspect(@module) %>.View.Materialized do
  @moduledoc false

  def up do
    """
    CREATE MATERIALIZED VIEW `<%= @view %>` TO `<%= @latest %>` AS
      SELECT
        id,
        name,
        max(timestamp) AS latest_timestamp,
        argMax(payload, timestamp) as payload
      FROM `<%= @table %>`
      where type = 'state'
      GROUP BY id, name
    """
  end

  def down do
    """
    DROP TABLE `<%= @view %>`
    """
  end
end
